As part of the coregistration, the {{ func_anat_coreg_source_volume }} scan was
aligned to the {{ func_anat_coreg_target_volume }} scan using
{{ func_anat_coreg_method }} in {{ func_anat_coreg_software }}
{{ func_anat_coreg_version }} (cost function: {{ func_anat_coreg_cost_function }} df: {{ func_anat_coreg_dof }})
