As part of the coregistration, the {{ func-anat_coreg__source_volume }} scan was
aligned to the {{ func-anat_coreg_target_volume }} scan using {{ 
func-anat_coreg_method }} in {{ func-anat_coreg_software }} 
{{ func-anat_coreg_version }} (cost function: {{ func-anat_coreg_cost_function }} df: {{ func-anat_coreg_dof }})
