{% include 'generate/mri/preprocessing/operations-performed.jinja' %}

{% include 'generate/mri/preprocessing/software.jinja' %}

{% include 'generate/mri/preprocessing/intensity-norm.jinja' %}

{% include 'generate/mri/preprocessing/brain-extraction.jinja' %}

{% include 'generate/mri/preprocessing/segmentation.jinja' %}

{% include 'generate/mri/preprocessing/t1-stabilization.jinja' %}

{% include 'generate/mri/preprocessing/coregistration.jinja' %}

{% include 'generate/mri/preprocessing/slice-timing-correction.jinja' %}

{% include 'generate/mri/preprocessing/quality-control-reports.jinja' %}

{% include 'generate/mri/preprocessing/smoothing.jinja' %}
