.~lock*

*.DS_Store

__pycache__

*.txt
# dataset_descriptor*.md

# *.py[cod]

.coverage

# DOCUMENTATION
site/*

# local virtual environnment
ecobidas/*
env/*
venv/*


# pytest
.pytest_cache/

# javascript
package-lock.json
node_modules/*
