*.DS_Store

.~lock*

__pycache__
.coverage

# doc
site/*

# local virtual environnment
ecobidas/*
*env/*

# pytest
.pytest_cache/

# jupyter notebook
.ipynb_checkpoints/
Untitled.ipynb

# javascript
package-lock.json
node_modules/*

# set up
**/*.egg-info

# tests
python/*/tests/outputs