.~lock*

*.DS_Store

.vscode/*
*.code-workspace

__pycache__

package-lock.json
node_modules/*

*.txt
# dataset_descriptor*.md

# venv/

# *.py[cod]

# DOCUMENTATION
site/*

# VIRTUAL ENV
ecobidas/*


