---
# Project information
site_name: eCOBIDAS
repo_name: Remi-Gau/eCobidas
repo_url: https://github.com/Remi-Gau/eCobidas
# docs_dir: alternative_path # docs/ is the default folder

# This will use Material them
theme:
    name: material
    language: en
    palette:
        -   media: (prefers-color-scheme)
            toggle:
                icon: material/brightness-auto
                name: Switch to light mode
        -   media: "(prefers-color-scheme: light)"
            primary: blue
            accent: light blue
            scheme: default
            toggle:
                icon: material/brightness-7
                name: Switch to dark mode
        -   media: "(prefers-color-scheme: dark)"
            primary: blue
            accent: light blue
            scheme: slate
            toggle:
                icon: material/brightness-4
                name: Switch to system preference
    features:
        -   announce.dismiss
        -   content.action.edit
        -   content.tooltips
        -   footnotes
        -   header.autohide
        -   navigation.footer
        -   navigation.indexes
        -   navigation.instant
        -   navigation.path
        -   navigation.sections
        -   navigation.tabs
        -   navigation.tabs.sticky
        -   navigation.top
        -   search.suggest
        -   search.highlight
        -   toc.follow
    icon:
        repo: fontawesome/brands/github
        edit: material/pencil
        annotation: material/arrow-right-circle

plugins:
    -   search
    -   macros:
            module_name: macros/main

edit_uri: https://github.com/Remi-Gau/eCobidas/edit/main/docs/

exclude_docs: |
    communication/README.md
    communication/abstracts/OHBM-2020-abstract.md
    communication/abstracts/OHBM-hackathon-2019-project-description.md
    methods_writing/README.md

# Pages
nav:
-   Welcome: index.md
-   Motivations: motivations.md
-   Goals:
    -   goals/goals.md
    -   Short term: goals/short-term.md
    -   Mid term: goals/mid-term.md
    -   Long term: goals/long-term.md
-   Apps: apps.md
-   Meta-analysis: meta-analysis.md
-   Contributing:
    -   contributing/contributing.md
    -   General organization: contributing/general-organization.md
    -   Setup: contributing/setup.md
    -   Spreadsheets: contributing/spreadsheets.md
    -   Checklist: contributing/how-to-render-the-checklist.md
    -   Contributors: contributing/contributors.md
-   References: references.md
-   Contact: contact.md

# list of extension
markdown_extensions:
-   abbr
-   admonition
-   attr_list
-   md_in_html
-   pymdownx.details
-   pymdownx.emoji:
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
        emoji_index: !!python/name:material.extensions.emoji.twemoji
-   pymdownx.snippets
-   pymdownx.superfences:
        custom_fences:
            - name: mermaid
              class: mermaid
              format: !!python/name:pymdownx.superfences.fence_code_format
-   tables
-   toc:
        anchorlink: true


extra:
    generator: false
    social:
    -   icon: fontawesome/brands/github
        link: https://github.com/Remi-Gau/eCobidas
    # -   icon: simple-mattermost
    #     link: https://mattermost.brainhack.org/brainhack/channels/cobidas_checklist
    -   icon: fontawesome/brands/google
        link: https://groups.google.com/d/forum/cobidas-checklist
