The anatomical MRI data were collected with following parameters.
<!--  -->
{% include 'generate/mri/acquisition/sequence.jinja' %}
<!--  -->
{% include 'generate/mri/acquisition/inplane_spatial_encoding.jinja' %}
<!--  -->
{% include 'generate/mri/acquisition/rf_contrasts.jinja' %}
<!--  -->
{% include 'generate/mri/acquisition/slice_acceleration.jinja' %}
<!--  -->
{% include 'generate/mri/acquisition/timing_parameters.jinja' %}
<!--  -->
({{ n_slices }} slices acquired in XXXX order; field of view, FOV={{ fov }}mm; matrix size={{ ms }}; voxel size={{ vs }}mm).
