{% extends 'layout/base.html' %}
<!--  -->
{% block title %} eCOBIDAS - About {% endblock %}
<!--  -->
{% block content %}
<div class="container">
  <div class="row m-2 mt-4">
    <div class="col">
      <h2>Have any questions? Something is missing? Let us know.</h2>
      <ul>
        <li>
          drop us an email on our
          <a
            href="https://groups.google.com/d/forum/cobidas-checklist"
            target="_blank"
            >google group</a
          >.
        </li>
        <li>
          open an issue this
          <a href="https://github.com/Remi-Gau/eCobidas" target="_blank"
            >github repository</a
          >.
        </li>
        <li>
          leave a message on the <b>cobidas_checklist</b> channel on the
          brainhack
          <a
            href="https://mattermost.brainhack.org/brainhack/channels/cobidas_checklist"
            target="_blank"
          >
            <img
              src="https://raw.githubusercontent.com/ohbm/eCOBIDAS/master/images/mattermost.png"
              target="_blank"
              width="100px"
            />
            channel.
          </a>
        </li>
      </ul>
      <h2>Why this project?</h2>
      <p>
        Poor methods and results description hinders the reproducibility and the
        replicability of research. It also makes it hard to compare new and old
        results and generally increases inefficiency in the research process.
        This project is built on the hope that improving methods and results
        reporting could improve our research.
      </p>
      <p>
        Follow the link if you want to know more about the
        <a
          href="https://ecobidas.readthedocs.io/en/latest/motivations/"
          target="_blank"
          >motivations behind this project</a
        >.
      </p>
      <h2>Background</h2>
      <p>
        This checklist is a project to make a user friendly checklist out the
        best practices
        <a
          href="https://www.humanbrainmapping.org/COBIDASreport"
          target="_blank"
          >report</a
        >
        of the Committee on Best Practices in Data Analysis and Sharing (<a
          href="https://www.humanbrainmapping.org/cobidas/"
          target="_blank"
          >COBIDAS</a
        >) of the
        <a href="https://www.humanbrainmapping.org" target="_blank"
          >Organization for Human Brain Mapping.</a
        >
      </p>
      <p>
        This is very much of a work in progress but the next step is to expand
        the list to cover all the items of the COBIDAS report for fMRI as well
        as for the recent
        <a href="https://osf.io/a8dhx/" target="_blank"
          >extension to EEG and MEG</a
        >.
      </p>
      <h2>Want to help?</h2>
      <p>
        We are currently working on trying to expand the number of items used in
        the checklist. All of this work is done in google spreadsheets: the
        spreadsheet for each section is accessible by clicking on the
        <b>Source</b>
        at the top of each page.
      </p>
      <h2>Want to know more?</h2>
      <p>
        Most of the information concerning this project can be found on this
        <a href="https://github.com/Remi-Gau/eCobidas" target="_blank"
          >github repository</a
        >.
      </p>
      <p>
        If you want to be kept posted about the progress of the project, you can
        join our
        <a
          href="https://groups.google.com/d/forum/cobidas-checklist"
          target="_blank"
          >google group</a
        >
      </p>
      <p>
        From more frequent updates and behind the scenes, come and join us on
        the
        <b>cobidas_checklist</b> channel on the brainhack
        <a
          href="https://mattermost.brainhack.org/brainhack/channels/cobidas_checklist"
          target="_blank"
        >
          <img
            src="https://raw.githubusercontent.com/ohbm/eCOBIDAS/master/images/mattermost.png"
            width="100px"
          />
          channel.
        </a>
      </p>
      <p>
        There is also an <a href="https://osf.io/anvqy/" target="_blank"></a>OSF
        project to centralize all the information and repos.
      </p>
      <p>
        We have a
        <a
          href="https://ecobidas.readthedocs.io/en/latest/goals/short-term"
          target="_blank"
          >list</a
        >
        of short, middle, long term goals: if you are interested by any of those
        get in touch. Many of them do not necessarily require super-advanced
        technical skills (except maybe a certain love for working with
        spreadsheet and wanting them to be super organized).
      </p>
      <h2>Contributors</h2>
      <p>
        The list of the people involved in this project can be found
        <a
          href="https://ecobidas.readthedocs.io/en/latest/contributing/contributors/"
          target="_blank"
          >here</a
        >.
      </p>
    </div>
  </div>
</div>
{% endblock %}
