{% extends "layout/base.html" %} {% block title %} eCOBIDAS - FAQ {% endblock %}
{% block content %}
<div id="page-faq" class="container">
  <div class="row m-2 mt-4 d-flex justify-content-center">
    <div class="col-lg-10 col-md-10">
      {% set count = [0] %} {% for s in data['sections'] %}
      <h3 class="my-2 mt-4">{{ s['name'] }}</h3>
      {% for item in s['questions'] %} {% set _ = count.append(count.pop()+1) %}
      <div class="accordion" id="accordion-{{ s['name'] }}">
        <div class="accordion-item">
          <h2 class="accordion-header" id="header-{{ count[0]|string }}">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#answer-{{ count[0]|string }}"
              aria-expanded="false"
              aria-controls="answer-{{ count[0]|string }}"
            >
              {{ item['q'] }}
            </button>
          </h2>
          <div
            id="answer-{{ count[0]|string }}"
            class="accordion-collapse collapse"
            aria-labelledby="header-{{ count[0]|string }}"
          >
            <div class="accordion-body">{{ item['a']|safe }}</div>
          </div>
        </div>
      </div>
      {% endfor %} {% endfor %}
    </div>
  </div>
  {% endblock %}
</div>
