| web app                                             | reference                                                    | spreadsheet                 | Github repository                                      |
| --------------------------------------------------- | ------------------------------------------------------------ | --------------------------- | ------------------------------------------------------ |
{% for app in apps %}| [{{ app.basename }}]({{ app.app_link }}) | {% if app.citation %} [link]({{ app.citation }}) {% endif %} | [spreadsheet]({{ app.link }}) | {% if app.repo %} [github]({{ app.repo }}) {% endif %} |
{% endfor %}
