| web app                                             | reference                                                    | spreadsheet                 | Github repository                                      |
| --------------------------------------------------- | ------------------------------------------------------------ | --------------------------- | ------------------------------------------------------ |
{% for app in apps %}| [:material-vuejs: {{ app.basename }}]({{ app.app_link }}) | {% if app.citation %} [link]({{ app.citation }}) {% endif %} | [:material-google-drive: spreadsheet]({{ app.link }}) | {% if app.repo %} [:material-github: github]({{ app.repo }}) {% endif %} |
{% endfor %}
