| response list | google spreadsheet | jsonld |
| ------------- | ------------------ | ------ |
{% for item in responses_lists %}| {{item.basename}} | [spreadsheet]({{item.link}}) | [jsonld]({{item.jsonld}}) |
{% endfor %}
