    <h2>Want to know more?</h2>
    <p>
      Most of the information concerning this project can be found in
      <a href="https://remi-gau.github.io/eCobidas/">our documentation</a>.
    </p>
    <p>
      If you want to be kept posted about the progress of the project,
      check our <a href="https://remi-gau.github.io/eCobidas/contact">contact page</a>
    </p>
