    <h2>Want to help?</h2>
    <p>
      We are looking for people to give us feedback or help us move forward.
      If you are interested, check our
      <a href="https://ecobidas.readthedocs.io/en/latest/contributing/">documentation for contributors.</a>
    </p>
