    <h2>Want to help?</h2>
    <p>
      We are currently working on trying to expand the number of items used in
      the checklist. All of this work is done in google spreadsheets.
      For more information on the content and organization of these
      spreadsheets, see the dedicated
      <a
        href="https://github.com/Remi-Gau/COBIDAS_chckls/blob/main/spreadsheet_content.md"
        >document.</a
      >
    </p>

    {% include 'app_table_html.j2' %}
