<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %} {% endblock %}</title>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    {{ bootstrap.load_css() }} {% assets "css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}
    <!-- <script
      src="https://kit.fontawesome.com/bfb65bff1f.js"
      crossorigin="anonymous"
    ></script> -->
  </head>

  <body>
    {% include "layout/svg.html" %}

    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12 mx-lg-auto mx-md-auto my-2">
          <div
            class="alert alert-danger rounded-0 text center m-0 d-flex justify-content-center"
            role="alert"
          >
            <h4 class="m-0">🚧 This website is under construction !!!!!! 🚧</h4>
          </div>
        </div>
      </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    <!--  -->
    {% if messages %}
    <!--  -->
    {% for category, message in messages %}
    <section class="content">
      <div class="container">
        <div
          class="alert alert-{{ category }} alert-link alert-dismissible fade show"
          role="alert"
        >
          <div class="d-flex">
            <svg
              class="bi me-2"
              width="24"
              height="24"
              role="img"
              aria-label="{{ category }}:"
            >
              {% if category == 'success' %}
              <use xlink:href="#check-circle-fill" />
              {% elif category == 'warning' %}
              <use xlink:href="#exclamation-triangle-fill" />
              {% else %}
              <use xlink:href="#info-fill" />
              {% endif %}
            </svg>
            <div class="mx-3">{{ message }}</div>
          </div>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </section>
    {% endfor %}
    <!--  -->
    {% endif %}
    <!--  -->
    {% endwith %}

    <div class="container">
      {% include "layout/nav.html" %}

      <div class="row">
        <div class="col-md-12 col-lg-12 mx-lg-auto mx-md-auto">
          {% block content %}
          <!--  -->
          {% endblock %}
        </div>
      </div>

      <!-- you can delete the next line if you're not using any Bootstrap JS -->
      {{ bootstrap.load_js() }}
    </div>
  </body>

  {% include "layout/footer.html" %}
</html>
