<footer>
  <div class="container mt-5">
    <div class="row d-flex">
      <div
        class="col-md-12 col-lg-12 bg-primary text-white d-flex justify-content-between align-items-center"
      >
        <h6 class="m-3">eCobidas <i class="fa-solid fa-copyright mx-3"></i></h6>
        <h6 class="m-3">UI version: {{ version }}</h6>
        <div>
          <a
            class="link-light mx-3"
            href="https://groups.google.com/d/forum/cobidas-checklist"
            target="_blank"
            ><i class="fa-brands fa-google"></i
          ></a>
          <a
            class="text-light link-light mx-3"
            href="https://github.com/Remi-Gau/eCobidas"
            target="_blank"
            ><i class="fa-brands fa-github" aria-label="github"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
