<div class="container bg-primary">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">eCOBIDAS</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.path == '/protocol/cobidas' }}"
              href="/protocol/cobidas"
              >cobidas MRI</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Other checklists
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="/protocol/neurovault"
                  >Neurovault</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/protocol/eyetracking"
                  >eyetracking</a
                >
              </li>
              <li>
                <a class="dropdown-item" href="/protocol/pet">PET</a>
              </li>
              <li>
                <a class="dropdown-item" href="/protocol/reexecution"
                  >reexecution</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.path == url_for('auth.login') }}"
              href="{{ url_for('auth.login') }}"
              >Login</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.path == url_for('public.faq') }}"
              href="{{ url_for('public.faq') }}"
              >FAQ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link {{ 'active' if request.path == url_for('public.about') }}"
              href="{{ url_for('public.about') }}"
              >About</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
