    <h2>Want to know more?</h2>
    <p>
      Most of the information concerning this project can be found on this
      <a href="https://github.com/Remi-Gau/COBIDAS_chckls">github repository</a
      >.
    </p>
    <p>
      If you want to be kept posted about the progress of the project, you can
      join our
      <a href="https://groups.google.com/d/forum/cobidas-checklist"
        >google group</a
      >
    </p>
    <p>
      From more frequent updates and behind the scenes, come and join us on our channel on the brainhack
      <a
        href="https://mattermost.brainhack.org/brainhack/channels/cobidas_checklist"
      >
        <img
          src="https://raw.githubusercontent.com/ohbm/eCOBIDAS/master/images/mattermost.png"
          width="100px"
        />
        channel.
      </a>
    </p>
    <p>
      There is also an <a href="https://osf.io/anvqy/">OSF project</a
      > to centralize all the information and repos.
    </p>
    <p>
      We have a
      <a href="https://remi-gau.github.io/eCobidas/21-short-term/"
        >list</a
      >
      of short, middle, long term goals: if you are interested by any of those
      get in touch. Many of them do not necessarily require super-advanced
      technical skills (except maybe a certain love for working with spreadsheet
      and wanting them to be super organized).
    </p>
