{% extends "layout/base.html" %}
<!--  -->
{% block page_title %}500 Error - Unauthorized{% endblock %}
<!--  -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 d-flex flex-column align-items-center">
      <img class="my-2" src="https://http.cat/401" />
      <p class="my-2">
        You are not authorized to see this page. Please
        <a href="{{ url_for('auth.login') }}">log in</a> or
        <a href="{{ url_for('auth.register') }}">create a new account</a>.
      </p>
      <p class="my-2">
        Want to <a href="{{ url_for('public.home') }}">go home</a> instead?
      </p>
    </div>
  </div>
</div>
{% endblock %}
