{% extends 'layout/base.html' %}
<!--  -->
{% block title %}404 Error - Page Not Found{% endblock %}
<!--  -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 d-flex flex-column align-items-center">
      <img class="my-2" src="https://http.cat/404" />
      <p class="my-2">Sorry, that page doesn't exist.</p>
      <p class="my-2">
        Want to <a href="{{ url_for('public.home') }}">go home</a> instead?
      </p>
    </div>
  </div>
</div>
{% endblock %}
