{% extends 'layout/base.html' %}
<!--  -->
{% block title %}500 Error - Internal Server Error{% endblock %}
<!--  -->
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 d-flex flex-column align-items-center">
      <img src="https://http.cat/500" />
      <p>
        Sorry, something went wrong on our system. Don't panic, we are fixing
        it! Please try again later.
      </p>
      <p class="my-2">
        Want to <a href="{{ url_for('public.home') }}">go home</a> instead?
      </p>
    </div>
  </div>
</div>
{% endblock %}
