<div class="navbar-expand-sm">
  <ul class="nav flex-column nav-pills nav-fill">
    {% for act in activities %} {% set prefix = loop.index - 1 %}
    <li class="nav-item">
      <a class="{{ act['class'] }}" aria-current="page" href="{{ act['link'] }}"
        >{% if prefix > 0 %}{{prefix}} - {% endif %}{{ act['name'] }}</a
      >
    </li>
    {% endfor %}
    <!--  -->
    {% if show_export_button %}
    <a href="{{ url_for('export') }}"
      ><li class="nav-item">
        <button type="button" class="btn btn-outline-primary my-1">
          Export
        </button>
      </li></a
    >
    <a href="{{ url_for('generate.generate') }}"
      ><li class="nav-item">
        <button type="button" class="btn btn-outline-primary my-1">
          Generate method
        </button>
      </li></a
    >
    {% endif %}
  </ul>
</div>
