<table>
<TR>
   <th> web app </th>
   <th> reference </th>
   <th> spreadsheet </th>
   <th> Github repository </th>

</TR>
{% for item in items %}
<TR>
   <TD class="c1"> <a href="{{item.app_link}}" target="_blank" > {{item.dir}} {{item.basename}} </a> </TD>
   <TD class="c2"> {% if item.citation %} <a href="{{item.citation}}" target="_blank" > Reference </a> {% endif %} </TD>
   <TD class="c3"> <a href="{{item.xls}}" target="_blank" > spreadsheet </a> </TD>
   <TD class="c4"> {% if item.repo %} <a href="{{item.repo}}" target="_blank" > Github </a> {% endif %} </TD>
</TR>
{% endfor %}
</table>
