    <h2>Have any questions? Something is missing? Let us know.</h2>
    <ul>
        <li>
        drop us an email on our
        <a href="https://groups.google.com/d/forum/cobidas-checklist"
            >google group</a
        >.
        </li>
        <li>
        open an issue this
        <a href="https://github.com/Remi-Gau/COBIDAS_chckls"
            >github repository</a
        >.
        </li>
        <li>
        leave a message on the <b>cobidas_checklist</b> channel on the brainhack
        <a
            href="https://mattermost.brainhack.org/brainhack/channels/cobidas_checklist"
        >
            <img
            src="https://raw.githubusercontent.com/ohbm/eCOBIDAS/master/images/mattermost.png"
            width="100px"
            />
            channel.
        </a>
        </li>
    </ul>
