<section>
  <div class="container-fluid">
    <h1>Information Collection Protocol</h1>
    {% include 'how_to_use.j2' %}
    {% include 'contact.j2' %}
    {% include 'why_this_project.j2' %}
    <h2>Background</h2>
    {% include 'want_to_help.j2' %}
    {% include 'want_to_know_more.j2' %}
    <h2>Contributors</h2>
    <h2>License</h2>
    <p>The protocol is licensed CC-BY-4.0</p>
  </div>
</section>
