| response list | google spreadsheet | jsonld |
| ------------- | ------------------ | ------ |
{% for item in items %} | {{item.basename}} | [spreadsheet]({{item.link}}) | [jsonld]({{item.jsonld}}) | 
{% endfor %}
