    <h2>Why this project?</h2>
    <p>
      Poor methods and results description hinders the reproducibility and the
      replicability of research. It also makes it hard to compare new and old
      results and generally increases inefficiency in the research process. This
      project is built on the hope that improving methods and results reporting
      could improve our research.
    </p>
    <p>
      Follow the link if you want to know more about the
      <a
        href="https://github.com/Remi-Gau/COBIDAS_chckls/blob/master/why_this_project.md"
        >motivations behind this project</a
      >.
    </p>