---
name: Check Markdown links

on:
    push:
        branches:
        -   master
    pull_request:
        branches:
        -   '*'

jobs:
    markdown-link-check:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
        -   uses: gaurav-nelson/github-action-markdown-link-check@v1
