---
name: Publish docs via GitHub Pages
on:
    push:
        branches:
        -   main

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    build:
        name: Deploy docs
        runs-on: ubuntu-latest
        steps:
        -   name: Checkout
            uses: actions/checkout@v4
            with:
                submodules: true
        -   name: Deploy docs
            uses: mhausenblas/mkdocs-deploy-gh-pages@master
            env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
