name: Test and coverage

# This workflow will install Python dependencies, run tests 
# and lint with a variety of Python versions

# TODO
# - make sure the tests run online

# For more information see: 
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

on: [push, pull_request]

jobs: 

  build:

    runs-on: ubuntu-latest

    steps:

    - name: Clone repo
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        pip install -r requirements.txt

    - name: Run tests and generate coverage report
      run: pytest --cov=./ --cov-report=xml python

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
        verbose: true
