---
name: validate jsonld

on:
    push:
        branches:
        -   master
    pull_request:
        branches: '*'
        # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

    # Force to use color
env:
    FORCE_COLOR: true

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v4
            with:
                submodules: true
        -   name: Setup Node
            uses: actions/setup-node@v4
            with:
                node-version: 20.x
        -   name: Set up Python
            uses: actions/setup-python@v5
            with:
                python-version: 3.12
        -   name: Install dependencies
            run: python -m pip install --upgrade pip tox
        -   name: Show tox config
            run: tox c
        -   name: Validate
            run: |
                make package.json
                grep -r  "@context" tests/data/ | cut -d: -f1 | xargs -I fname jsonlint -q fname
                tox run -e validate_all
